/* SENDER-UI */

#app-body-sender{
    background-color: #212224;
    /* margin: auto; */
    padding: 20px 10px;
    height: 100%;
    color: #f2e3c6;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url('img/main_bg.jpeg');
    background-attachment: fixed;
    background-size: cover;
    font-size: 26px;
}

body{
    margin: 0px;
    height: 100%;
}

#sender_welcome{
    text-align: center;
    font-size: 42px; 
    padding: 10px;
    margin: 10px;
    font-style: italic;
}

#MicOn{
    height: 180px;
    width: 180px;
    border-radius: 180px;
}

#MicInfo{
    margin: auto;
    width: 152px;
    font-size: 16px;
}

/* RECEIVER UI */

#app-body-receiver{
    background-color: #212224;
    width: 600px;
    margin: auto;
    padding: 20px 10px;
    color: #f2e3c6;
    font-family: Helvetica, Arial, sans-serif
}

#receiver_welcome p{
    text-align: center;
    font-size: 42px; 
}

#stream-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#stream-controls{
    display: flex;
    margin: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button{
    padding: 10px;
    font-size: 20px;
    width: 220px;
    border-radius: 40px;
    margin: 2px 5px;
}

/* CSS for the audio players */

#audio-container{
    min-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#audio-container audio{
    width: 180px;
    height: 40px;
    /* background-color: #f2e3c6; */
    border-radius: 30px;
    margin: 5px;
}

audio::-webkit-media-controls-timeline
audio::-moz-media-controls-timeline{
    display: none;
}

/* for the audio levels */
.audio-level{
    -webkit-appearance: none;
    overflow: hidden;
    border-radius: 18px;
    height: 14px;
    margin: auto 10px;
}
.audio-level::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 14px;
    background: gray;
    border: none;
    margin-top: -1px;
}

.audio-level::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 4px;
    background: yellow;
    box-shadow: -100px 0 0 100px green;
}

.audio-threshold{
    height: 16px;
    width: 16px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: auto 10px;
    box-shadow: inset 2px 2px 2px 0 rgba(255,255,255,0.5), inset -2px -2px 2px 0 rgba(0,0,0,0.5);
}

.audio-inactive-off{
    display: none;
}

.custom-audio-controls{
    display: flex;
    justify-content: center;
}

#hideInactiveAudioBox{
    width: 100%;
    padding-left: 375px;
    padding-top: 10px;
}