<html lang="en">
    <head>
        <title>Rhizome Music</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src= "{{url_for('static', filename='sender.js')}}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    </head>
    <body>
        <div id="app-body-sender">
            <div id="sender_welcome">
                Rhizome Music Performance (Audience)
            </div>
            <div id="stream-controls">
                <button id="MicOn" onclick="getAudioStream()">
                    <img id="MicIcon" src="static/img/mic_icon_off.png" height="100px">
                </button>
            </div>        
        </div>
    </body>
</html>