<html lang="en">
    <head>
        <title>Rhizome Music</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src="https://sdk.twilio.com/js/video/releases/2.22.1/twilio-video.min.js"></script>
        <script src= "{{url_for('static', filename='sender.js')}}"></script>
        <link rel="shortcut icon" href="static/img/icon.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    </head>
    <body>
        <div id="app-body-sender">
            <div id="sender_welcome">
                sender_welcome
            </div>
            <div id="stream-controls">
                <button id="MicOn" onclick="sendAudioStream()">
                    <img id="MicIcon" src="static/img/mic_icon_off.png" height="100px">
            </div>        
            <div id="MicInfo">
                (Microphone is OFF)
            </div>
            <script>
                setupSenderUI()
            </script>
        </div>
    </body>
</html>