<html lang="en">
    <head>
        <title>Rhizome Music</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src="https://sdk.twilio.com/js/video/releases/2.22.1/twilio-video.min.js"></script>
        <script src= "{{url_for('static', filename='sender.js')}}"></script>
        <link rel="shortcut icon" href="static/img/icon.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    </head>
    <body>
        <div id="app-body-sender">
            <div id="sender_welcome">
                sender_welcome
            </div>
            <div id="stream-controls">
                <button id="MicOn" onclick="sendAudioStream()">
                    <img id="MicIcon" src="static/img/mic_icon_off.png" height="100px">
                </button>
            </div>        
            <div id="MicInfo">
                Your microphone is OFF
            </div>
            <div id="websiteInfoBack">
                <div><u>Instructions</u></div>
                <ul>
                    <li>
                        Please click the microphone icon once to turn on.
                    </li>
                    <li>
                        Allow permission to use your microphone if prompted.
                    </li>                    
                    <li class="more-websiteInfo audio-inactive-off">
                        Once you close this webpage, your microphone will no longer be used.
                    </li>
                    <li class="more-websiteInfo audio-inactive-off">
                        If your phone screen is locked, your microphone will be turned off, but it may try to reconnect after unlocking.
                    </li>
                    <li class="more-websiteInfo audio-inactive-off">
                        Your microphone will automatically be disconnected after the performance ends.
                    </li>
                </ul>
                <div id="websiteInfoMoreButton" onclick="hideUnhideWebsiteInfo()">
                    <u>(more info)</u>
                </div>
            </div>
            <script>
                setupSenderUI()
            </script>
        </div>
    </body>
</html>