<html lang="en">
    <head>
        <title>Rhizome Music - Receiver</title>
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src= "{{url_for('static', filename='receiver.js')}}"></script>
        <link rel="shortcut icon" href="static/img/icon.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    </head>
    <body>
        <div id="app-body-receiver">
            <div id="receiver_welcome">
                <p>Ensemble Decipher Receiver</p>
            </div>
            <div id="stream-list">
                <div id="stream-controls">
                    <button id="playStream" onclick="playStream()">
                        Start Stream
                    </button>
                    <div id="hideInactiveAudioBox">
                        <input id="hideInactiveAudio" type="checkbox" onchange="hideInactiveStreams(this)">
                            Hide Inactive streams
                        </input>
                    </div>
                </div>
                <div id="audio-container">
                </div>
            </div>  
        </div>        
    </body>
</html>