<html lang="en">
    <head>
        <title>Feedback Radio</title>
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    </head>
    <body>
        <script src= {{url_for('static', filename='receiver.js')}}></script>
        <p>
            Hello Rob!!
        </p>
        <div>
            <button id="playStream" onclick="playStream()">
                Play Stream
            </button>
            <div id="audio-container"></div>
        </div>        
    </body>
</html>